@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
  --background: 216 100% 95%;
  --foreground: 216 5% 10%;
  --card: 216 50% 90%;
  --card-foreground: 216 5% 15%;
  --popover: 216 100% 95%;
  --popover-foreground: 216 100% 10%;
  --primary: 216 68% 77%;
  --primary-foreground: 0 0% 0%;
  --secondary: 216 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 178 30% 85%;
  --muted-foreground: 216 5% 35%;
  --accent: 178 30% 80%;
  --accent-foreground: 216 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 216 5% 90%;
  --border: 216 30% 50%;
  --input: 216 30% 26%;
  --ring: 216 68% 77%;
  --radius: 0.5rem;
}
.dark  {
  --background: 216 50% 10%;
  --foreground: 216 5% 90%;
  --card: 216 50% 10%;
  --card-foreground: 216 5% 90%;
  --popover: 216 50% 5%;
  --popover-foreground: 216 5% 90%;
  --primary: 216 68% 77%;
  --primary-foreground: 0 0% 0%;
  --secondary: 216 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 178 30% 25%;
  --muted-foreground: 216 5% 60%;
  --accent: 178 30% 25%;
  --accent-foreground: 216 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 216 5% 90%;
  --border: 216 30% 26%;
  --input: 216 30% 26%;
  --ring: 216 68% 77%;
  --radius: 0.5rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#login{
  margin: 0;
  padding: 0;
  min-width: 100vh;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground))
}

.bg-primary {
  background-color: hsl(var(--primary));
}

.bg-secondary {
  background-color: hsl(var(--secondary));
}

.hover\:bg-primary:hover {
  background-color: hsl(var(--primary))
}

.hover\:bg-primary\/80:hover {
  background-color:hsl(var(--primary)/.8);
}

.hover\:bg-primary\/90:hover {
  background-color: hsl(var(--primary)/.9)
}

.hover\:bg-secondary:hover {
  background-color: hsl(var(--secondary))
}

.hover\:bg-secondary\/80:hover {
  background-color: hsl(var(--secondary)/.8)
}

.beans {
  color: rgb(10 10 10) !important; 
}

.bg-destructive {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--destructive) / var(--tw-bg-opacity));
}

.text-destructive-foreground {
  --tw-text-opacity: 1;
  color: hsl(var(--destructive-foreground) / var(--tw-text-opacity));
}

.hover\:bg-destructive\/90:hover {
  background-color: hsl(var(--destructive) / .9);
}

textarea[disabled]::placeholder {
  color: black !important;
}

